:root{
  --bgr-color: rgb(0,0,0, 0.5);
  --txt-color: rgb(1, 95, 1);
  --txt-color-bright: rgb(1, 184, 1);
}
html{
    background-color: var(--bgr-color);
    color: green;
    font-family: "Courier New", monospace;
    font-size: xx-large;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 1px 1px 1px #4eff4e;
}

canvas{
 left: 0;
 top: 0;
 position: absolute;
 z-index: -1;
 width: 100%;
 height: 100%;
}
body{
    background-color: var(--bgr-color);
    z-index: 1;
    padding: 3%;
    border-radius: 3px;
    width: 100%;
}
.arrow{
  height: 35px;
  width: 35px;
  color: var(--txt-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../media/arrow.svg");
  display:none;
  position: relative;
  top:-1px;
}

a {
    color: var(--txt-color);
    text-decoration:none;
    margin-top: 2%;
    font-size: 1rem;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
/* visited link */

a:visited {
    color: green;
  }
  a:hover {
    color: var(--txt-color-bright);
  }
  a:hover .arrow{
    display:block;
    fill: var(--txt-color-bright); /*#01b901;*/
  }
  /* code, pre, tt, kbd, samp {
    font-family: "Noto Sans Mono", monospace;
  } */
