html{
    background-color: black;
    color: green;
    font-family: "Courier New", monospace;
    font-size: xx-large;
}

a {
    color: rgb(1, 95, 1);
    text-decoration:none;
  }
/* visited link */
a:visited {
    color: green;
  }
  a:hover {
    color: rgb(1, 184, 1);
  }
  /* code, pre, tt, kbd, samp {
    font-family: "Noto Sans Mono", monospace;
  } */